<% if @customers.length > 0 %>
  <ul>
    <% @customers.each do |customer| %>
      <li>
        <%= customer.name %> | <%= customer.quotes_count %> Quotes
      </li>
    <% end %>  
  </ul>
  
<% else %>
  <p>No Customers Yet</p>
<% end %>