<% if @customers.length > 0 %>
  <ul>
    <% @customers.each do |customer| %>
      <li>
        <%= link_to "#{customer.name}", customer_path(customer) %> | <%= customer.quotes_count %> Quotes
      </li>
    <% end %>  
  </ul>
  
<% else %>
  <p>No Customers Yet</p>
<% end %>